Source: jemalloc
Priority: optional
Maintainer: Stig Sandbeck Mathisen <ssm@debian.org>
Uploaders: Faidon Liambotis <paravoid@debian.org>
Build-Depends:
 debhelper (>= 10),
 docbook-xsl,
 xsltproc,
Standards-Version: 4.0.0
Section: libs
Homepage: http://jemalloc.net/
Vcs-Git: https://anonscm.debian.org/cgit/collab-maint/jemalloc.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/jemalloc.git
Testsuite: autopkgtest

Package: libjemalloc-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libjemalloc1 (= ${binary:Version})
Description: development files and documentation for jemalloc
 Files used for development with jemalloc. This package contains
 headers and documentation.
 .
 Jemalloc is a library providing a malloc(3) implementation for
 multi-threaded processes on multi-processor systems.

Package: libjemalloc1
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: general-purpose scalable concurrent malloc(3) implementation
 A library providing a malloc(3) implementation for multi-threaded processes on
 multi-processor systems.
 .
 Notable features are reduced lock contention, predictable low fragmentation,
 and introspection with heap profiling.
